<div id="modal" class="hide">
    <div class="content">
        <header>
            <h1>Pontos de coleta</h1>
            <a href="#">
                <img src="/assets/x.svg" alt="Fechar busca">
            </a>
        </header>
        <form action="/search-results">
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade ou estado">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>