:root {
    --color-background: #f0f0f5;
    --color-primary: #34cb79;
    --color-primary-light: #e1faec;
    --color-primary-dark: #2fb86e;
    --color-text: #322153;
    --color-text-light: #6c6c80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-background);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-text);
}