#modal {
    width: 100vw;
    height: 100vh;
    background-color: #0e0a14ef;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal.hide {
    opacity: 0;
    z-index: -1;
    transition: 0ms;
}

#modal .content {
    color: white;
    width: 420px;
}

#modal header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#modal header a {
    width: 24px;
    height: 24px;
    display: flex;
}

#modal header h1 {
    color: white;
    font-size: 36px;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex-grow: 1;
    background-color: var(--color-background);
    border: 0;
    border-radius: 8px 0 0 8px;
    padding: 16px 24px;
    font-size: 16px;
    color: var(--color-text-light);
    outline: none;
}

#modal form button {
    width: 72px;
    height: 72px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 0 8px 8px 0;
    transition: background-color 400ms;
    outline: none;
}

#modal form button:hover {
    background-color: var(--color-primary-dark);
}

#modal.success .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal.success .content h1 {
    color: white;
    text-align: center;
    margin-top: 32px;
    font-size: 36px;
}

#modal.success .content h2 {
    color: white;
    text-align: center;
    margin-top: 24px;
}

#modal.success .content img {
    width: 64px;
}