@media (max-width: 1279px) {
    #page-home {
        background-image: none;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (max-width: 768px) {
    #page-register-point .field-group {
        flex-direction: column;
    }

    #page-register-point .field-group .field + .field {
        margin-left: 0px;
    }

    #page-search-results .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1440px) {
    #page-home {
        background-position-x: calc(50% + 280px)
    }
}

@media (max-height: 768px) {
    #page-home {
        background-position-y: 110px;
    }
}